
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 1);
    color: rgba(235, 76, 107, 1);
    width: Fixed (1, 440px);
    height: 32px;
    padding: 8px 274px 8px 274px;
  }
  
  .header-staring {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 20px;
  }
  
  .header-heading {
    font-weight: 400;
    line-height: 14.4px;
    letter-spacing: 1px;
    text-align: left;
  }
  
  .header-icon {
    width: 20px;
    height: 20px;
  }
  